*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

.container{
   /* background-color: aqua;*/
    margin: 0 auto;
    max-width: 1280px;
   
}

.head{
   background-color: rgb(189, 230, 230);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
    


    &__item-logo{
      //background-color:crimson;
        height: 2.5rem;
        padding-top: 4px;
    }
    
   &__item-search{
       // background-color: crimson;
        width: 40%;
    }
*
    &__item-menu{
        background-color: rgb(207, 199, 199);
       width: 40%;
      height: 2.5rem;
        display: flex;
        justify-content: space-around;
        border: 1px solid rgb(91, 164, 228);
        border-radius: 25px;
       
       align-items: center;
    }
    &__link{
        text-decoration: none; 
        font-size: 1rem;
    }
    &__link:hover{
        color: green; 
        font-size: 20px;
    }
    
    &__buscar{
        width: 80%;
        height:2.5rem;
        border-radius: 25px;
        padding: 0 5px 0 5px;
       border: 1px solid rgb(91, 164, 228);
    }
    &__boton{
        height: 2.5rem;
        width: 2.5rem;
        border: 1px solid rgb(91, 164, 228);
        border-radius: 50%;
       
    }
}
/* vesrsion tableta*/
@media (max-width:768px){
/*.container{
    width: 768px;
}
*/
.head{
   /* background-color: crimson;*/
    display: flex;
    flex-wrap: wrap;
   

    &__item-search{
        width:60%;
        text-align: end;
       /* background-color: aqua;*/
       height: 2.5rem;
       padding: 6px;
    }
    &__item-logo{
        //background-color:crimson;
        font-size: 1.3rem;
        width:15%;
        padding: 6px;
    }
    &__item-menu{
        height:1.3rem;
        width: 100%;
        align-items: center;
    }
    &__buscar{
    width: 80%;
    border: none;
    height: 1.3rem;
}
&__boton{
    height: 1.3rem;
    width: 1.3rem;
}
&__link{
    text-decoration: none;
    
   }
&__texto{
    font-size: 1rem;
}
}
}
/*Version Mobile*/
@media(max-width:360px){
  
.head{
    display: flex;
   flex-wrap: wrap; 
&__item-logo{
/*border: 1px solid green;*/
width: 100%;
text-align: center;
padding: 10px 0px;
}
&__item-menu{
   /* border: 1px solid red;*/
    width: 100%;
    border: none;
    border-radius: none;
}
&__item-search{
    /*border: 1px solid red;*/
    width: 100%;
    text-align: center;
}
&__buscar{
    width: 80%;
    border: none;
}
}
}